* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: 0.2s;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.col-md-3:hover {
    cursor: pointer;
}

.not-found {
    font-size: 20px;
    color: orangered;
    font-weight: bold;
    text-align: center;
}


ul li {
    padding: 5px 0;
}

.icon-check {
    color: red;
    margin-right: 5px;
}

input {
    font-size: 17px;
    padding: 15px 30px;
    width: 80%;
    border-radius: 30px;
    border: 1px solid rgb(204, 204, 204);
    background: white;
    margin: 10px auto 40px;
}

input:focus {
    outline: none;
    border: 1px solid white;
    box-shadow: 0px 0px 10px rgba(124, 124, 124, 0.15);
}

footer {
    padding: 50px 30px;
    text-align: center;
    background: #f1f1f1;
}

.button {
border-radius: 25px;
background-color: rgb(221, 134, 63);
color: white;
}